// sidebar
$menuText: #ffffff;
$menuActiveText: #ffffff;
$subMenuActiveText: #ffffff; //https://github.com/ElemeFE/element/issues/12951

// $menuBg: #075ec0;
$menuBg: #2584f9;
$menuHover: #4995F4;

// $subMenuBg: #075ec0;
$subMenuBg: #2584f9;
$subMenuHover: #4995F4;

$sideBarWidth: 220px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
